Repository jstz-dev/jstz, pull requests merged in 2023-11, with the labels that each got.

#85 Bugfix: Fix `console.group` indentation
  jstz_api/src/console.rs
Labels: bug, jstz::api

#51 Docs: Console
  docs/.vitepress/config.mjs
  docs/api/console.md
  docs/api/index.md
  jstz_api/src/console.rs
Labels: documentation, m9::documentation

#166 Bugfix: Fix missing `nonce.increment()`
  jstz_proto/src/operation.rs
Labels: bug

#87 CLI Enhancements: Account abstraction
  Cargo.lock
  jstz_cli/Cargo.toml
  jstz_cli/src/account/account.rs
  jstz_cli/src/account/mod.rs
  jstz_cli/src/config.rs
  jstz_cli/src/deploy.rs
  jstz_cli/src/main.rs
  jstz_cli/src/repl.rs
  jstz_cli/src/run.rs
Labels: jstz::cli

#136 Api: URL Pattern API implementation
  Cargo.lock
  jstz_api/Cargo.toml
  jstz_api/src/lib.rs
  jstz_api/src/urlpattern.rs
  jstz_cli/src/repl.rs
  jstz_core/src/value.rs
  jstz_proto/src/executor/contract.rs
  packages/jstz-types/index.d.ts
Labels: jstz::api
