Repository jstz-dev/jstz, changes with the owners that CODEOWNERS names for each.
All owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

test(gh): test GH automatically adds the right COs
  crates/jstz_core/Cargo.toml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

test(gh): test GH automatically adds the right COs
  docs/architecture/overview.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(gh): support merge queues
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(gh): temp add merge queue setting to feat branch
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

test(mq): test merge queue
  test-file
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(sequencer): encode external op into hex
  crates/jstz_node/src/sequencer/inbox/parsing.rs
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): retry logic in data provider
  Cargo.lock
  Cargo.toml
  crates/jstz_oracle_node/Cargo.toml
  crates/jstz_oracle_node/src/data_provider.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(kernel): activate experimetal in mem memory
  crates/jstz_kernel/Cargo.toml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(oracle): preset ticketer and injector in riscv kernel
  crates/jstz_kernel/build.rs
  crates/jstz_kernel/src/riscv_kernel.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(kernel): fix leaking macos linking flags when compiling riscv kernel
  .cargo/config.toml
  Makefile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): apply suggestions from code review
  examples/axios/README.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): add info about the Axios example to docs
  docs/examples.md
  examples/axios/README.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(kernel): warm up runtime on kernel start
  Cargo.lock
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/src/executable.rs
  crates/jstz_kernel/src/riscv_kernel.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): response buffer roundtrip test
  crates/jstz_proto/src/runtime/v2/fetch/http.rs
  js_tests/oracle_post_openai.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(gh): support merge queues
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(gh): support merge queues (#1204)
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: clean up cli dependencies
  Cargo.lock
  Cargo.toml
  crates/jstz_cli/Cargo.toml
  crates/jstz_cli/Dockerfile
  crates/jstz_cli/sandbox-params.json
  crates/jstz_cli/sandbox.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: clean up cli dependencies (#1197)
  Cargo.lock
  Cargo.toml
  crates/jstz_cli/Cargo.toml
  crates/jstz_cli/Dockerfile
  crates/jstz_cli/sandbox-params.json
  crates/jstz_cli/sandbox.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(kernel): fix leaking macos linking flags when compiling riscv kernel (#1206)
  .cargo/config.toml
  Makefile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: remove cli kernel build
  .gitignore
  Makefile
  crates/jstz_cli/Dockerfile
  nix/crates.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(kernel): warm up runtime on kernel start (#1207)
  Cargo.lock
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/src/executable.rs
  crates/jstz_kernel/src/riscv_kernel.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): tests for retrying added
  crates/jstz_client/src/lib.rs
  crates/jstz_oracle_node/src/data_provider.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(kernel): unify parsedinboxmessage and level info with sequencer
  Cargo.lock
  crates/jstz_kernel/src/inbox.rs
  crates/jstz_kernel/src/lib.rs
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/sequencer/inbox/mod.rs
  crates/jstz_node/src/sequencer/inbox/parsing.rs
  crates/jstz_node/src/sequencer/mod.rs
  crates/jstz_node/src/sequencer/queue.rs
  crates/jstz_node/src/sequencer/runtime.rs
  crates/jstz_node/src/sequencer/worker.rs
  crates/jstz_node/src/services/operations.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor: move oracle to jstzd
  Cargo.lock
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/main.rs
  crates/jstz_oracle_node/src/lib.rs
  crates/jstzd/Cargo.toml
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/src/task/mod.rs
  crates/jstzd/src/task/oracle_node.rs
  crates/jstzd/tests/jstz_node_test.rs
  crates/jstzd/tests/jstzd_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: tmp
  Cargo.lock
  Cargo.toml
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/sequencer/inbox/api.rs
  crates/jstz_node/src/sequencer/inbox/mod.rs
  crates/jstz_node/src/sequencer/inbox/stream.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(proto): clean up and factorise tests
  crates/jstz_proto/src/executor/mod.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: remove jstz_rollup
  .github/workflows/docker.yml
  Cargo.lock
  Cargo.toml
  crates/jstz_rollup/Cargo.toml
  crates/jstz_rollup/Dockerfile
  crates/jstz_rollup/entrypoint.sh
  crates/jstz_rollup/src/bridge.rs
  crates/jstz_rollup/src/lib.rs
  crates/jstz_rollup/src/main.rs
  crates/jstz_rollup/src/rollup.rs
  nix/crates.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor: move KeyPair to jstz_utils (#1196)
  Cargo.lock
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/main.rs
  crates/jstz_node/src/sequencer/runtime.rs
  crates/jstz_node/src/sequencer/worker.rs
  crates/jstz_node/src/services/operations.rs
  crates/jstz_node/src/services/utils.rs
  crates/jstz_utils/Cargo.toml
  crates/jstz_utils/src/lib.rs
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/tests/jstz_node_test.rs
  crates/jstzd/tests/jstzd_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

adhoc inbox messages generation for riscv team testing
  .cargo/config.toml
  Cargo.lock
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/build.rs
  crates/jstz_kernel/src/fa2.js
  crates/jstz_kernel/src/hello-kernel.rs
  crates/jstz_kernel/src/riscv_kernel.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor: move oracle to jstzd (#1194)
  Cargo.lock
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/main.rs
  crates/jstz_oracle_node/src/lib.rs
  crates/jstzd/Cargo.toml
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/src/task/mod.rs
  crates/jstzd/src/task/oracle_node.rs
  crates/jstzd/tests/jstz_node_test.rs
  crates/jstzd/tests/jstzd_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(sequencer): encode external op into hex
  crates/jstz_node/src/sequencer/inbox/parsing.rs
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(runtime): test api coverage
  crates/jstz_runtime/.gitignore
  crates/jstz_runtime/tests/api_coverage/entrypoint.js
  crates/jstz_runtime/tests/api_coverage/main.rs
  crates/jstz_runtime/tests/api_coverage/setup.sh
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(runtime): run api coverage test nightly
  .github/workflows/test-nightly.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(proto,kernel,node): use alice keys
  crates/jstz_kernel/src/riscv_kernel.rs
  crates/jstz_node/tests/sequencer.rs
  crates/jstz_proto/src/executor/mod.rs
  crates/jstz_proto/src/operation.rs
  crates/jstz_utils/src/lib.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(sequencer): encode external op into hex (#1202)
  crates/jstz_kernel/src/riscv_kernel.rs
  crates/jstz_node/src/sequencer/inbox/parsing.rs
  crates/jstz_node/tests/sequencer.rs
  crates/jstz_proto/src/executor/mod.rs
  crates/jstz_proto/src/operation.rs
  crates/jstz_utils/src/lib.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: fmt
  crates/jstz_runtime/tests/api_coverage/entrypoint.js
  crates/jstz_runtime/tests/api_coverage/setup.sh
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(jstz_proto): move comment
  crates/jstz_proto/src/executor/smart_function/run.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: skip file
  crates/jstz_runtime/tests/api_coverage/main.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): review comments addressed
  crates/jstz_client/src/lib.rs
  crates/jstz_oracle_node/src/data_provider.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): removing buffer/vec from serialisation, bincode test
  crates/jstz_oracle_node/src/relay.rs
  crates/jstz_proto/src/event.rs
  crates/jstz_proto/src/runtime/v2/fetch/http.rs
  examples/oracle_basic.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

CODEOWNERS:

# Entire codebase
*           @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

# Docs
/docs/      @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
/examples/  @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
README.md   @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
