Repository jstz-dev/jstz, changes with the owners that CODEOWNERS names for each.
All owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

CODEOWNERS:

# Entire codebase
*           @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

# Docs
/docs/      @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
/examples/  @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
README.md   @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

feat(jstz_node): make inbox checkpoint path configurable
  crates/jstz_node/src/lib.rs
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): create release workflow
  .github/workflows/release.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): create nightly build workflow
  .github/workflows/build-nightly.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): create release workflow
  .github/workflows/release.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): create release workflow
  .github/workflows/deploy-runtime-api-coverage-report.yml
  .github/workflows/release.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): refactor api coverage workflow
  .github/workflows/runtime-api-coverage.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

Fix links in web application example section
  docs/examples.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

docs: add cdn.jsdelivr.net to connect-src
  docs/docusaurus.config.js
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

docs: add client sdk example
  docs/client/overview.md
  docs/sidebars.js
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

docs: add client sdk example (#1391)
  docs/client/overview.md
  docs/sidebars.js
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): introduce config value inbox_checkpoint_path (#1395)
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/main.rs
  crates/jstz_node/src/services/accounts.rs
  crates/jstz_node/src/services/operations.rs
  crates/jstz_node/src/services/utils.rs
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(test): set mock rollup rpc response (#1396)
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(test): build deposit inbox messages
  crates/jstz_node/Cargo.toml
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): make inbox checkpoint path configurable
  crates/jstz_node/src/lib.rs
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(proto): add transfer method to request/response
  Cargo.lock
  Cargo.toml
  crates/jstz_proto/src/executor/smart_function/run.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_runtime/src/sys/interfaces/request.rs
  crates/jstz_runtime/src/sys/interfaces/response.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

docs: added information about creating passkey wallets in the extension
  docs/quick_start.md
  docs/static/img/quick_start_wallet_passkeys.png
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(proto): add request response test
  crates/jstz_proto/src/executor/smart_function/run.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(deploy): add bridge contract artifact packaging for gke cluster
  scripts/build-push-images.sh
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): push images to docker hub temp
  .github/workflows/docker-multiplatform.yml
  .github/workflows/docker.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(test): build deposit inbox messages (#1399)
  crates/jstz_node/Cargo.toml
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(cli): implement test command and reporter
  Cargo.lock
  Cargo.toml
  crates/jstz_cli/Cargo.toml
  crates/jstz_cli/src/lib.rs
  crates/jstz_cli/src/test/mod.rs
  crates/jstz_cli/src/test/reporter.rs
  crates/jstz_cli/tests/test.rs
  crates/jstz_proto/src/runtime/v2/fetch/mod.rs
  crates/jstz_proto/src/runtime/v2/mod.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: support native timeout execution
  crates/jstz_core/Cargo.toml
  crates/jstz_core/src/host.rs
  crates/jstz_core/src/kv/transaction.rs
  crates/jstz_core/src/kv/value.rs
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/sequencer/runtime.rs
  crates/jstz_proto/Cargo.toml
  crates/jstz_proto/src/runtime/v2/execution_tracker.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_proto/src/runtime/v2/mod.rs
  crates/jstzd/Cargo.toml
  examples/get-tez/index.ts
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

chore(cli): use jstzd image on docker hub
  crates/jstz_cli/src/sandbox/mod.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: support native timeout execution (#1401)
  crates/jstz_core/Cargo.toml
  crates/jstz_core/src/host.rs
  crates/jstz_core/src/kv/transaction.rs
  crates/jstz_core/src/kv/value.rs
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/sequencer/runtime.rs
  crates/jstz_proto/Cargo.toml
  crates/jstz_proto/src/runtime/v2/execution_tracker.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_proto/src/runtime/v2/mod.rs
  crates/jstzd/Cargo.toml
  examples/get-tez/index.ts
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

docs: updates regarding CR
  docs/quick_start.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): make inbox checkpoint path configurable (#1400)
  crates/jstz_node/src/lib.rs
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): setup for node24 in cli workflow
  .github/workflows/cli-npm.yaml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: tmp fix of branch name
  .github/workflows/docker-multiplatform.yml
  .github/workflows/docker.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: docker update
  crates/jstzd/Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: bring back wasm path, remove sandbox flag
  .github/actions/build-riscv-kernel/action.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: bring back booststrap account validation
  crates/jstzd/build.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: kernel descriptor func
  crates/jstzd/src/config.rs
  crates/jstzd/src/lib.rs
  crates/jstzd/tests/jstzd_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: review comments addressed
  .github/actions/build-docker-image/action.yml
  .gitignore
  crates/octez/resources/protocol_parameters/sandbox/ProtoALphaALphaALphaALphaALphaALphaALphaALphaDdp3zK
  flake.nix
  nix/crates.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: revert docker related changes
  .github/actions/build-docker-image/action.yml
  .github/workflows/docker-multiplatform.yml
  .github/workflows/docker.yml
  crates/jstzd/Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: lw kernel
  Cargo.lock
  Cargo.toml
  Makefile
  crates/jstzd/Cargo.toml
  crates/jstzd/build.rs
  crates/jstzd/src/config.rs
  crates/jstzd/tests/jstzd_test.rs
  crates/octez/resources/protocol_parameters/sandbox/ProtoALphaALphaALphaALphaALphaALphaALphaALphaDdp3zK
  crates/octez/src/async/rollup.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: the flag is still needed
  .github/actions/build-riscv-kernel/action.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: ci update
  .github/actions/build-docker-image/action.yml
  .github/workflows/docker-multiplatform.yml
  .github/workflows/docker.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: flake update
  Makefile
  crates/jstzd/build.rs
  flake.nix
  nix/crates.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: update generate_code
  crates/jstzd/build.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter
