Repository jstz-dev/jstz, changes with the owners that CODEOWNERS names for each.
All owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

refactor(jstz_node): gather config values for sequencer
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/main.rs
  crates/jstz_node/src/services/accounts.rs
  crates/jstz_node/src/services/operations.rs
  crates/jstz_node/src/services/utils.rs
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/tests/jstz_node_test.rs
  crates/jstzd/tests/jstzd_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: update
  crates/jstz_node/src/lib.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(jstz_node): clean up dependencies
  Cargo.lock
  Cargo.toml
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/services/logs/db.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(jstz_node): add lib for riscv kernel
  Cargo.lock
  Cargo.toml
  crates/jstz_node/Cargo.toml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(core): move event (#1231)
  Cargo.lock
  crates/jstz_core/Cargo.toml
  crates/jstz_core/src/event.rs
  crates/jstz_core/src/lib.rs
  crates/jstz_oracle_node/Cargo.toml
  crates/jstz_oracle_node/src/request.rs
  crates/jstz_proto/src/lib.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_proto/src/runtime/v2/oracle/oracle.rs
  crates/jstz_proto/src/runtime/v2/oracle/request.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: update
  crates/jstz_node/src/lib.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: move runmode
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/lib.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: remove dead weeklynet deployment action (#1230)
  .github/workflows/deploy-teztnet.yml
  .github/workflows/deploy-weeklynet.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(sequencer): clean up feature flag (#1229)
  crates/jstz_node/src/sequencer/worker.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: simplify test
  crates/jstz_node/src/config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(proto): use base64 encoding for HTTP bodies
  Cargo.lock
  Cargo.toml
  crates/jstz_cli/src/run.rs
  crates/jstz_node/Cargo.toml
  crates/jstz_node/openapi_v1.json
  crates/jstz_node/src/sequencer/inbox/parsing.rs
  crates/jstz_node/src/sequencer/runtime.rs
  crates/jstz_node/src/services/operations.rs
  crates/jstz_node/tests/sequencer.rs
  crates/jstz_proto/Cargo.toml
  crates/jstz_proto/src/executor/fa_withdraw.rs
  crates/jstz_proto/src/executor/mod.rs
  crates/jstz_proto/src/executor/smart_function/host.rs
  crates/jstz_proto/src/executor/smart_function/run.rs
  crates/jstz_proto/src/lib.rs
  crates/jstz_proto/src/operation.rs
  crates/jstz_proto/src/receipt.rs
  crates/jstz_proto/src/runtime/v1/fetch_handler.rs
  crates/jstz_proto/src/runtime/v1/host_script.rs
  crates/jstz_proto/src/runtime/v1/mod.rs
  crates/jstz_tps_bench/src/bench/generate.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: implement run mode builder
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/main.rs
  crates/jstzd/src/config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: revert
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/main.rs
  crates/jstzd/src/config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(proto): inbox_id is not unique (only unique to the level)
  crates/jstz_kernel/src/inbox.rs
  crates/jstz_kernel/src/parsing.rs
  crates/jstz_kernel/src/riscv_kernel.rs
  crates/jstz_kernel/src/wasm_kernel.rs
  crates/jstz_node/src/sequencer/inbox/mod.rs
  crates/jstz_node/src/sequencer/inbox/parsing.rs
  crates/jstz_node/src/sequencer/runtime.rs
  crates/jstz_node/tests/sequencer.rs
  crates/jstz_proto/src/executor/deposit.rs
  crates/jstz_proto/src/executor/fa_deposit.rs
  crates/jstz_proto/src/operation.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: introduce basic program that can be run stand alone
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/src/program.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: tmp
  Cargo.lock
  crates/jstz_oracle_node/Cargo.toml
  crates/jstz_oracle_node/src/filtered_log_stream.rs
  crates/jstz_oracle_node/src/lib.rs
  crates/jstz_oracle_node/src/relay.rs
  crates/jstz_utils/Cargo.toml
  crates/jstz_utils/src/event_stream.rs
  crates/jstz_utils/src/lib.rs
  crates/jstz_utils/src/tailed_file.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: clean up jstz_tps_bench (#1228)
  Cargo.lock
  crates/jstz_tps_bench/Cargo.toml
  crates/jstz_tps_bench/readme.md
  crates/jstz_tps_bench/src/generate.rs
  crates/jstz_tps_bench/src/kernel/main.rs
  crates/jstz_tps_bench/src/lib.rs
  crates/jstz_tps_bench/src/main.rs
  crates/jstz_tps_bench/src/results.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: implement run mode builder
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/main.rs
  crates/jstzd/src/config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: add run option 'runtime env'
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/services/accounts.rs
  crates/jstz_node/src/services/operations.rs
  crates/jstz_node/src/services/utils.rs
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstzd): add jstz node options for riscv runtime
  crates/jstzd/src/config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): response buffer roundtrip test
  crates/jstz_proto/src/runtime/v2/fetch/http.rs
  js_tests/oracle_post_openai.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): jsbuffer body serialisation
  crates/jstz_proto/src/runtime/v2/fetch/http.rs
  examples/oracle/oracle_basic.js
  examples/oracle/oracle_post_openai.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

feat(oracle): removing buffer/vec from serialisation, bincode test
  crates/jstz_oracle_node/src/relay.rs
  crates/jstz_proto/src/runtime/v2/fetch/http.rs
  examples/oracle_basic.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

feat(oracle): jsbuffer body serialisation (#1195)
  crates/jstz_oracle_node/src/relay.rs
  crates/jstz_proto/src/runtime/v2/fetch/http.rs
  js_tests/oracle_post_openai.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(proto): clean up and factorise tests
  crates/jstz_proto/src/executor/mod.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(proto): clean up and factorise tests (#1210)
  crates/jstz_proto/src/executor/mod.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): retry logic in data provider
  Cargo.lock
  crates/jstz_oracle_node/Cargo.toml
  crates/jstz_oracle_node/src/data_provider.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): tests for retrying added
  crates/jstz_client/src/lib.rs
  crates/jstz_oracle_node/src/data_provider.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): review comments addressed
  crates/jstz_client/src/lib.rs
  crates/jstz_oracle_node/src/data_provider.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(oracle): use tokio_retry2
  Cargo.lock
  crates/jstz_oracle_node/Cargo.toml
  crates/jstz_oracle_node/src/data_provider.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(jstz_node): gather config values for sequencer (#1232)
  crates/jstz_node/src/config.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/main.rs
  crates/jstz_node/src/services/accounts.rs
  crates/jstz_node/src/services/operations.rs
  crates/jstz_node/src/services/utils.rs
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/tests/jstz_node_test.rs
  crates/jstzd/tests/jstzd_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

temp
  Cargo.lock
  Cargo.toml
  crates/jstz_node/Cargo.toml
  crates/jstz_node/Dockerfile
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/main.rs
  crates/jstz_node/src/sequencer/mod.rs
  crates/jstz_node/src/sequencer/riscv_pvm.rs
  crates/jstz_node/src/sequencer/worker.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(env): benchmark peak memory usage with heaptrack
  .gitignore
  flake.nix
  heaptrack-summary
  scripts/heaptrack.sh
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(nix): use v8 with pointer compression disabled
  flake.nix
  heaptrack-summary
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): update and clarify install and build instructions (#1187)
  docs/installation.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(octez): implement async resolve_contract
  Cargo.lock
  crates/octez/Cargo.toml
  crates/octez/src/async/client.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: bump package versions
  packages/cli/main/package.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor: verify platform support first
  packages/cli/main/install.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor: use node: in imports
  packages/cli/main/install.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: lint
  packages/cli/main/install.js
  packages/cli/main/run.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

CODEOWNERS:

# Entire codebase
*           @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

# Docs
/docs/      @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
/examples/  @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
README.md   @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
