Repository jstz-dev/jstz, changes with the owners that CODEOWNERS names for each.
All owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

CODEOWNERS:

# Entire codebase
*           @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

# Docs
/docs/      @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
/examples/  @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
README.md   @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

test
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

test
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

test
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): simplify instructions to run sandbox
  docs/installation.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(nix): upgrade riscv sandbox to build with huge-memory feature
  .gitignore
  flake.nix
  manual_test.tar.gz
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: add readme
  crates/jstz_runtime/README.md
  crates/jstz_runtime/tests/api_coverage/entrypoint.js
  crates/jstz_runtime/tests/api_coverage/setup.sh
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(runtime): test api coverage (#1212)
  crates/jstz_runtime/.gitignore
  crates/jstz_runtime/README.md
  crates/jstz_runtime/tests/api_coverage/entrypoint.js
  crates/jstz_runtime/tests/api_coverage/main.rs
  crates/jstz_runtime/tests/api_coverage/setup.sh
  nix/crates.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

fix: inject operations when oracle is present
  crates/jstz_node/src/main.rs
  crates/jstz_node/src/sequencer/worker.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): carify installing Octez binaries
  docs/installation.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(runtime): run api coverage test nightly (#1215)
  .github/workflows/runtime-api-coverage.yml
  .github/workflows/test-nightly.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(proto): increase test coverage (#1216)
  crates/jstz_proto/src/context/receipt.rs
  crates/jstz_proto/src/error.rs
  crates/jstz_proto/src/event.rs
  crates/jstz_proto/src/executor/smart_function/deploy.rs
  crates/jstz_proto/src/executor/smart_function/run.rs
  crates/jstz_proto/src/logger.rs
  crates/jstz_proto/src/runtime/v2/fetch/resources.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): updated start instructions to incude jstzd
  docs/installation.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(core): add event stream
  Cargo.lock
  crates/jstz_core/Cargo.toml
  crates/jstz_core/src/event.rs
  crates/jstz_core/src/lib.rs
  crates/jstz_proto/src/event.rs
  crates/jstz_proto/src/runtime/v2/oracle/oracle.rs
  crates/jstz_proto/src/runtime/v2/oracle/request.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(nix): upgrade riscv sandbox to build with huge-memory feature
  Makefile
  crates/jstz_proto/src/context/receipt.rs
  flake.nix
  manual_test/README.md
  manual_test/inbox.json
  manual_test/token.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

chore(nix): upgrade riscv sandbox to build with huge-memory feature (#1220)
  Makefile
  crates/jstz_proto/src/context/receipt.rs
  flake.nix
  manual_test/README.md
  manual_test/inbox.json
  manual_test/token.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

fix: include git install hooks as part of nix and ignore api_coverage when skipping wpt
  Makefile
  crates/jstz_runtime/tests/api_coverage/main.rs
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): use previous protocol instead of upcoming protocol
  docs/installation.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): correct path to built kernel Co-authored-by: huancheng-trili <168652455+huancheng-trili@users.noreply.github.com>
  docs/installation.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): clarify non-nix sandbox commands
  docs/installation.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: upload runtime api coverage report (#1221)
  .github/workflows/deploy-runtime-api-coverage-report.yml
  .github/workflows/runtime-api-coverage.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: include git install hooks as part of nix (#1226)
  Makefile
  crates/jstz_runtime/tests/api_coverage/main.rs
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: benchmark v2 runtime
  crates/jstz_tps_bench/.gitignore
  crates/jstz_tps_bench/Cargo.toml
  crates/jstz_tps_bench/src/bench/results.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: benchmark riscv kernel nightly
  .github/workflows/test-nightly.yml
  crates/jstz_tps_bench/readme.md
  crates/jstz_tps_bench/run.sh
  flake.nix
  nix/crates.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: update
  crates/jstz_tps_bench/readme.md
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: update
  crates/jstz_tps_bench/readme.md
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(core): explicitly add lib atomic as dependency
  .cargo/config.toml
  crates/jstz_core/build.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: benchmark v2 runtime (#1222)
  crates/jstz_tps_bench/.gitignore
  crates/jstz_tps_bench/Cargo.toml
  crates/jstz_tps_bench/src/bench/results.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: benchmark riscv kernel nightly (#1223)
  .github/workflows/test-nightly.yml
  crates/jstz_tps_bench/readme.md
  crates/jstz_tps_bench/run.sh
  flake.nix
  nix/crates.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): remove unnecessary build step
  docs/installation.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: clean up jstz_tps_bench
  Cargo.lock
  crates/jstz_tps_bench/Cargo.toml
  crates/jstz_tps_bench/readme.md
  crates/jstz_tps_bench/run.sh
  crates/jstz_tps_bench/src/generate.rs
  crates/jstz_tps_bench/src/kernel/main.rs
  crates/jstz_tps_bench/src/main.rs
  crates/jstz_tps_bench/src/results.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: make lib
  crates/jstz_tps_bench/src/lib.rs
  crates/jstz_tps_bench/src/main.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: fix
  crates/jstz_tps_bench/Cargo.toml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: fix
  crates/jstz_tps_bench/Cargo.toml
  crates/jstz_tps_bench/run.sh
  crates/jstz_tps_bench/src/results.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: add comment
  crates/jstz_core/build.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(core): explicitly add lib atomic as dependency (#1227)
  .cargo/config.toml
  crates/jstz_core/build.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: clean up feature flag
  crates/jstz_node/src/sequencer/worker.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(sequencer): extract retry logic
  Cargo.lock
  Cargo.toml
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/sequencer/inbox/mod.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore: remove dead weeklynet deployment action
  .github/workflows/deploy-teztnet.yml
  .github/workflows/deploy-weeklynet.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(sequencer): extract retry logic (#1219)
  Cargo.lock
  Cargo.toml
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/sequencer/inbox/mod.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(core): move event
  Cargo.lock
  crates/jstz_core/Cargo.toml
  crates/jstz_core/src/event.rs
  crates/jstz_core/src/lib.rs
  crates/jstz_oracle_node/Cargo.toml
  crates/jstz_oracle_node/src/request.rs
  crates/jstz_proto/src/lib.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_proto/src/runtime/v2/oracle/oracle.rs
  crates/jstz_proto/src/runtime/v2/oracle/request.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter
