Repository jstz-dev/jstz, changes with the owners that CODEOWNERS names for each.
All owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

CODEOWNERS:

# Entire codebase
*           @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

# Docs
/docs/      @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
/examples/  @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
README.md   @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

feat(proto): add limiter
  crates/jstz_proto/src/executor/smart_function/run.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_proto/src/runtime/v2/fetch/tests/resources/recursive/run.js
  crates/jstz_proto/src/runtime/v2/ledger/mod.rs
  crates/jstz_proto/src/runtime/v2/mod.rs
  crates/jstz_runtime/src/lib.rs
  crates/jstz_runtime/src/runtime.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/api_coverage/main.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(cli): handle dev network in network commands (#1345)
  crates/jstz_cli/src/network.rs
  crates/jstz_cli/tests/network.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  docs/cli.mdx
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(test): send notification when nightly test fails (#1347)
  .github/workflows/test-nightly-post-run.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: lw kernel
  Cargo.lock
  crates/jstzd/Cargo.toml
  crates/jstzd/build.rs
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/tests/sandbox-params.json
  crates/octez/src/async/client.rs
  crates/octez/src/async/rollup.rs
  scripts/debug-simple/1-start-node.sh
  scripts/debug-simple/2-setup-and-bake.sh
  scripts/debug-simple/3-originate-and-run-rollup.sh
  scripts/debug/1-start-node.sh
  scripts/debug/2-setup-protocol.sh
  scripts/debug/3-start-baker.sh
  scripts/debug/4-originate-rollup.sh
  scripts/debug/5-start-rollup-node.sh
  scripts/debug/README.md
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

feat: lw kernel
  crates/jstzd/resources/jstz_rollup/lightweight-kernel-executable
  crates/jstzd/resources/jstz_rollup/lightweight-kernel-executable.elf
  crates/octez/src/async/client.rs
  scripts/debug-simple/1-start-node.sh
  scripts/debug-simple/2-setup-and-bake.sh
  scripts/debug-simple/3-originate-and-run-rollup.sh
  scripts/debug/1-start-node.sh
  scripts/debug/2-setup-protocol.sh
  scripts/debug/3-start-baker.sh
  scripts/debug/4-originate-rollup.sh
  scripts/debug/5-start-rollup-node.sh
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(crypto): add support for p256 signing
  Cargo.lock
  Cargo.toml
  crates/jstz_crypto/Cargo.toml
  crates/jstz_crypto/src/error.rs
  crates/jstz_crypto/src/secret_key.rs
  crates/jstz_crypto/src/signature.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: update jstz_sdk dependency version
  package-lock.json
  packages/sdk/package.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: update jstz_sdk dependency version (#1351)
  package-lock.json
  packages/sdk/package.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(runtime): register custom errors
  crates/jstz_proto/src/runtime/v2/fetch/error.rs
  crates/jstz_proto/src/runtime/v2/parsed_code.rs
  crates/jstz_runtime/src/ext/jstz_console/mod.rs
  crates/jstz_runtime/src/ext/jstz_fetch/mod.rs
  crates/jstz_runtime/src/ext/jstz_kv/mod.rs
  crates/jstz_runtime/src/ext/jstz_main/01_errors.js
  crates/jstz_runtime/src/ext/jstz_main/98_global_scope.js
  crates/jstz_runtime/src/ext/jstz_main/mod.rs
  crates/jstz_runtime/src/runtime.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(runtime): register custom errors (#1337)
  crates/jstz_proto/src/runtime/v2/fetch/error.rs
  crates/jstz_proto/src/runtime/v2/parsed_code.rs
  crates/jstz_runtime/src/ext/jstz_console/mod.rs
  crates/jstz_runtime/src/ext/jstz_fetch/mod.rs
  crates/jstz_runtime/src/ext/jstz_kv/mod.rs
  crates/jstz_runtime/src/ext/jstz_main/01_errors.js
  crates/jstz_runtime/src/ext/jstz_main/98_global_scope.js
  crates/jstz_runtime/src/ext/jstz_main/mod.rs
  crates/jstz_runtime/src/runtime.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(proto): add limiter
  crates/jstz_proto/src/executor/smart_function/run.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_proto/src/runtime/v2/fetch/tests/resources/recursive/run.js
  crates/jstz_proto/src/runtime/v2/ledger/mod.rs
  crates/jstz_proto/src/runtime/v2/mod.rs
  crates/jstz_runtime/src/lib.rs
  crates/jstz_runtime/src/runtime.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/api_coverage/main.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(proto): store slot in runtime context
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_runtime/src/lib.rs
  crates/jstz_runtime/src/runtime.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/api_coverage/main.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): dry-run image build
  .github/actions/build-docker-image/action.yml
  .github/workflows/docker-multiplatform.yml
  .github/workflows/docker.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/actions/build-docker-image/action.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(proto): add limiter (#1328)
  crates/jstz_proto/src/executor/smart_function/run.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_proto/src/runtime/v2/fetch/tests/resources/recursive/run.js
  crates/jstz_proto/src/runtime/v2/ledger/mod.rs
  crates/jstz_proto/src/runtime/v2/mod.rs
  crates/jstz_runtime/src/lib.rs
  crates/jstz_runtime/src/runtime.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/api_coverage/main.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): dry-run image build (#1352)
  .github/actions/build-docker-image/action.yml
  .github/workflows/docker-multiplatform.yml
  .github/workflows/docker.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): build base images
  .github/workflows/build-base-image.yml
  images/build.Dockerfile
  images/serve.Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): build with base images
  crates/jstz_node/Dockerfile
  crates/jstz_oracle_node/Dockerfile
  crates/jstzd/Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(dockerfile): unpin discontinued dependencies after security patch
  crates/jstz_node/Dockerfile
  crates/jstz_oracle_node/Dockerfile
  scripts/build-push-images.sh
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(runtime): add with_transfer method to request/response
  Cargo.lock
  Cargo.toml
  crates/jstz_proto/src/executor/smart_function/run.rs
  crates/jstz_proto/src/runtime/v2/fetch/fetch_handler.rs
  crates/jstz_runtime/src/sys/interfaces/request.rs
  crates/jstz_runtime/src/sys/interfaces/response.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  images/build_cli.Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/workflows/build-base-image.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): dry-run cli build
  .github/actions/build-cli/action.yml
  .github/workflows/cli-npm.yaml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

test
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

docs(cli): introduce network command (#1346)
  docs/architecture/networks.md
  docs/cli.mdx
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstzd): lw kernel running
  .github/workflows/run-benchmark-natively.yml
  .github/workflows/run-benchmark.yml
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/src/task/octez_rollup.rs
  crates/jstzd/tests/sandbox-params.json
  crates/octez/resources/protocol_parameters/sandbox/ProtoALphaALphaALphaALphaALphaALphaALphaALphaDdp3zK
  flake.lock
  flake.nix
  scripts/debug-simple/2-setup-and-bake.sh
  scripts/debug-working/1-start-node.sh
  scripts/debug-working/2-setup-protocol.sh
  scripts/debug-working/3-start-baker.sh
  scripts/debug-working/4-originate-rollup.sh
  scripts/debug-working/5-start-rollup-node.sh
  scripts/debug-working/README.md
  scripts/debug/2-setup-protocol.sh
  scripts/debug/README.md
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

chore(build): create workflow for building sdk
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: bootstrapped
  crates/jstzd/Cargo.toml
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/src/task/octez_rollup.rs
  crates/octez/src/async/rollup.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: use oidc token
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): publish cli npm package
  .github/workflows/cli-npm.yaml
  packages/cli/main/package.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  images/build_cli.Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/workflows/build-base-images.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter
