Repository jstz-dev/jstz, changes with the owners that CODEOWNERS names for each.
All owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

CODEOWNERS:

# Entire codebase
*           @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

# Docs
/docs/      @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
/examples/  @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
README.md   @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

fix: patch
  .github/workflows/sdk-npm.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): build base images (#1353)
  .github/workflows/build-base-images.yml
  images/build.Dockerfile
  images/build_cli.Dockerfile
  images/serve.Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(build): build with base images
  crates/jstz_cli/Dockerfile
  crates/jstz_node/Dockerfile
  crates/jstz_oracle_node/Dockerfile
  crates/jstzd/Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: protocol params update
  crates/jstzd/tests/sandbox-params.json
  crates/octez/resources/protocol_parameters/sandbox/ProtoALphaALphaALphaALphaALphaALphaALphaALphaDdp3zK
  flake.lock
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: nix update
  flake.lock
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: glake update
  flake.lock
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: url update
  flake.lock
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: disable shallow, enable submodules
  flake.lock
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: remove submodules
  flake.lock
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: test
  flake.lock
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: fix patch
  flake.nix
  nix/patches/octez/0001-fix-octez-rust-deps-for-nix.patch
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): temporary benchmark in ci
  .github/workflows/ci.yml
  crates/jstz_tps_bench/fa2/dist/index.js
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(benchmark): overhead estimation
  crates/jstz_tps_bench/run_all.sh
  crates/jstz_tps_bench/tps_test/src/index.ts
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(benchmark): ci updated
  .github/workflows/test-nightly.yml
  crates/jstz_tps_bench/run_all.sh
  crates/jstz_tps_bench/run_fa2.sh
  crates/jstz_tps_bench/run_other.sh
  crates/jstz_tps_bench/run_repeats.sh
  crates/jstz_tps_bench/src/results.rs
  crates/jstz_tps_bench/tps_test/src/index.ts
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: temporary ci run on benchmark machine
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(tps_benchmark): allow handling of different transaction types
  crates/jstz_proto/src/runtime/v2/parsed_code.rs
  crates/jstz_tps_bench/fa2/README.md
  crates/jstz_tps_bench/fa2/package.json
  crates/jstz_tps_bench/fa2/src/index.ts
  crates/jstz_tps_bench/fa2/test/actor.ts
  crates/jstz_tps_bench/fa2/test/index.ts
  crates/jstz_tps_bench/fa2/tsconfig.json
  crates/jstz_tps_bench/run.sh
  crates/jstz_tps_bench/run_other.sh
  crates/jstz_tps_bench/src/generate_other.rs
  crates/jstz_tps_bench/src/lib.rs
  crates/jstz_tps_bench/src/main.rs
  crates/jstz_tps_bench/src/results.rs
  crates/jstz_tps_bench/tps_test/README.md
  crates/jstz_tps_bench/tps_test/package.json
  crates/jstz_tps_bench/tps_test/src/index.ts
  crates/jstz_tps_bench/tps_test/test/actor.ts
  crates/jstz_tps_bench/tps_test/test/index.ts
  crates/jstz_tps_bench/tps_test/tsconfig.json
  crates/kernels/jstz_kernel/src/inbox.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

fix: kernel moved
  crates/kernels/jstz_kernel/src/executable.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): simplifying the ci jobs
  .github/workflows/build-riscv-kernel.yml
  .github/workflows/ci.yml
  .github/workflows/run-benchmark-job.yml
  .github/workflows/run-benchmark-natively.yml
  .github/workflows/run-benchmark.yml
  .github/workflows/test-nightly.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: draft
  crates/jstz_proto/src/runtime/v2/parsed_code.rs
  crates/jstz_tps_bench/fa2.js
  crates/jstz_tps_bench/run.sh
  crates/jstz_tps_bench/src/results.rs
  crates/kernels/jstz_kernel/src/inbox.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(benchmarking): shell scripts
  crates/jstz_tps_bench/fa2.js
  crates/jstz_tps_bench/run.sh
  crates/jstz_tps_bench/run_other.sh
  crates/jstz_tps_bench/run_repeats.sh
  crates/jstz_tps_bench/src/generate.rs
  crates/jstz_tps_bench/src/generate_other.rs
  crates/jstz_tps_bench/tps_test/README.md
  crates/jstz_tps_bench/tps_test/src/index.ts
  crates/jstz_tps_bench/tps_test/test/actor.ts
  crates/jstz_tps_bench/tps_test/test/index.ts
  crates/kernels/jstz_kernel/src/inbox.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

feat(ci): native benchmark temporarily
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): keep job temporarily in ci
  .github/workflows/ci.yml
  .github/workflows/run-benchmark-natively.yml
  .github/workflows/run-benchmark.yml
  .github/workflows/test-nightly.yml
  Cargo.lock
  Makefile
  crates/jstz_tps_bench/run_all.sh
  crates/jstz_tps_bench/run_fa2.sh
  crates/jstz_tps_bench/run_other.sh
  crates/jstz_tps_bench/tps_test/package.json
  crates/jstz_tps_bench/tps_test/src/index.ts
  crates/jstz_tps_bench/tps_test/tsconfig.json
  crates/kernels/jstz_kernel/Cargo.toml
  crates/kernels/jstz_kernel/src/executable.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): move job to a separate workflow
  .github/workflows/ci.yml
  .github/workflows/run-benchmark.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: tmp fix
  .github/workflows/ci.yml
  crates/jstz_tps_bench/run_other.sh
  crates/jstz_tps_bench/tps_test/dist/index.js
  crates/jstz_tps_bench/tps_test/package.json
  crates/jstz_tps_bench/tps_test/tsconfig.json
  package-lock.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: readme update
  crates/jstz_tps_bench/readme.md
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(tps_bench): update fa2 sf
  crates/jstz_tps_bench/fa2/README.md
  crates/jstz_tps_bench/fa2/package.json
  crates/jstz_tps_bench/fa2/test/actor.ts
  crates/jstz_tps_bench/fa2/test/index.ts
  crates/jstz_tps_bench/fa2/tsconfig.json
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: vendor ricv/api deps
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: use just src/riscv
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: distinguish two different git hashes
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: no submodules
  flake.lock
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: vendor all
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: review comments addressed
  .github/actions/build-riscv-kernel/action.yml
  .github/actions/run-benchmark-job/action.yml
  .github/workflows/build-riscv-kernel.yml
  .github/workflows/ci.yml
  .github/workflows/run-benchmark-job.yml
  .github/workflows/run-benchmark-natively.yml
  .github/workflows/run-benchmark.yml
  .github/workflows/test-nightly.yml
  crates/jstz_tps_bench/run_other.sh
  crates/jstz_tps_bench/src/generate_other.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: more review comments addressed
  .github/actions/run-benchmark-job/action.yml
  crates/jstz_tps_bench/run_other.sh
  crates/jstz_tps_bench/src/fa2_bench_generator.rs
  crates/jstz_tps_bench/src/generate_other.rs
  crates/jstz_tps_bench/src/lib.rs
  crates/jstz_tps_bench/src/main.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: not merging vendors
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: combined vendor, remapping
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: remove jobs from ci
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(benchmark): benchmarking with flexible transaction types (#1321)
  .github/actions/build-riscv-kernel/action.yml
  .github/actions/run-benchmark-job/action.yml
  .github/workflows/ci.yml
  .github/workflows/run-benchmark-natively.yml
  .github/workflows/run-benchmark.yml
  .github/workflows/test-nightly.yml
  Cargo.lock
  Makefile
  crates/jstz_tps_bench/fa2.js
  crates/jstz_tps_bench/fa2/README.md
  crates/jstz_tps_bench/fa2/dist/index.js
  crates/jstz_tps_bench/fa2/package.json
  crates/jstz_tps_bench/fa2/src/index.ts
  crates/jstz_tps_bench/fa2/tsconfig.json
  crates/jstz_tps_bench/readme.md
  crates/jstz_tps_bench/run_all.sh
  crates/jstz_tps_bench/run_fa2.sh
  crates/jstz_tps_bench/run_other.sh
  crates/jstz_tps_bench/src/fa2_bench_generator.rs
  crates/jstz_tps_bench/src/generate_other.rs
  crates/jstz_tps_bench/src/lib.rs
  crates/jstz_tps_bench/src/main.rs
  crates/jstz_tps_bench/src/results.rs
  crates/jstz_tps_bench/tps_test/dist/index.js
  crates/jstz_tps_bench/tps_test/package.json
  crates/jstz_tps_bench/tps_test/src/index.ts
  crates/jstz_tps_bench/tps_test/tsconfig.json
  crates/kernels/jstz_kernel/Cargo.toml
  crates/kernels/jstz_kernel/src/executable.rs
  package-lock.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

feat: add rev
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat: deduplicate
  flake.nix
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

Vitest poc
  Cargo.lock
  Cargo.toml
  crates/jstz_cli/src/lib.rs
  crates/jstz_runtime/src/ext/jstz_main/98_global_scope_shared.js
  crates/jstz_runtime/src/ext/jstz_main/mod.rs
  crates/jstz_runtime/src/runtime.rs
  crates/jstz_vitest/Cargo.toml
  crates/jstz_vitest/src/lib.rs
  crates/jstz_vitest/src/main.rs
  crates/jstz_vitest/src/resolver.rs
  crates/jstz_vitest/src/transpile.rs
  crates/jstz_vitest/src/tty.rs
  package-lock.json
  packages/vitest-env/.gitignore
  packages/vitest-env/package.json
  packages/vitest-env/src/module_a.ts
  packages/vitest-env/src/module_b.ts
  packages/vitest-env/src/test_runner.ts
  packages/vitest-env/test.tsconfig.json
  packages/vitest-env/tests/test_module_a.ts
  packages/vitest-env/tsconfig.json
  packages/vitest-env/vitest.config.ts
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter
