Repository jstz-dev/jstz, changes with the owners that CODEOWNERS names for each.
All owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

CODEOWNERS:

# Entire codebase
*           @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

# Docs
/docs/      @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
/examples/  @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
README.md   @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

fix: patch
  crates/jstz_tps_bench/src/bin/all_operations.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_crypto/src/public_key_hash.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_crypto/src/public_key_hash.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): run in nix, remove previous job
  .github/workflows/ci.yml
  .github/workflows/test-nightly.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): install submodules in readme build steps (#1272)
  docs/quick_start.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): run in nix
  .github/workflows/ci.yml
  .github/workflows/test-nightly.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): don't use large
  .github/workflows/ci.yml
  .github/workflows/test-nightly.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(kv): implement `WoundWaitMutex`
  Cargo.lock
  Cargo.toml
  crates/jstz_kv/Cargo.toml
  crates/jstz_kv/src/lib.rs
  crates/jstz_kv/src/wound_wait_mutex.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(kv): implement `MemTable`
  crates/jstz_kv/src/lib.rs
  crates/jstz_kv/src/mem_table.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_kernel/src/inbox.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_kernel/src/inbox.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): implement storage sync
  Cargo.lock
  crates/jstz_core/src/kv/storage_update.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/storage_sync.rs
  crates/jstz_oracle_node/src/data_provider.rs
  crates/jstz_oracle_node/src/relay.rs
  crates/jstz_utils/Cargo.toml
  crates/jstz_utils/src/event_stream.rs
  crates/jstz_utils/src/filtered_log_stream.rs
  crates/jstz_utils/src/lib.rs
  crates/jstz_utils/src/retry.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(kv): implement `Txn`
  crates/jstz_kv/src/db.rs
  crates/jstz_kv/src/lib.rs
  crates/jstz_kv/src/mem_table.rs
  crates/jstz_kv/src/txn.rs
  crates/jstz_kv/src/wound_wait_mutex.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(bench): implement oracle response (#1275)
  crates/jstz_tps_bench/src/bin/all_operations.rs
  crates/jstz_tps_bench/src/generate.rs
  crates/jstz_utils/src/inbox_builder.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(utils): build inbox message with helper function
  Cargo.lock
  crates/jstz_tps_bench/src/bin/all_operations.rs
  crates/jstz_tps_bench/src/generate.rs
  crates/jstz_utils/Cargo.toml
  crates/jstz_utils/src/inbox_builder.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(docs): basic info about using privatenet
  docs/architecture/networks.md
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): debug nocapture
  .github/workflows/ci.yml
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_kernel/src/inbox.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(crypto): convert public key hash (#1280)
  crates/jstz_crypto/src/public_key_hash.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): use large
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): try macos
  .github/workflows/ci.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): nightly test only
  .github/workflows/ci.yml
  .github/workflows/test-nightly.yml
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(jstz_utils): move async_retry
  Cargo.lock
  crates/jstz_oracle_node/src/data_provider.rs
  crates/jstz_oracle_node/src/relay.rs
  crates/jstz_utils/Cargo.toml
  crates/jstz_utils/src/event_stream.rs
  crates/jstz_utils/src/filtered_log_stream.rs
  crates/jstz_utils/src/lib.rs
  crates/jstz_utils/src/retry.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(jstz_utils): move async_retry (#1284)
  Cargo.lock
  crates/jstz_oracle_node/src/data_provider.rs
  crates/jstz_oracle_node/src/relay.rs
  crates/jstz_utils/Cargo.toml
  crates/jstz_utils/src/event_stream.rs
  crates/jstz_utils/src/filtered_log_stream.rs
  crates/jstz_utils/src/lib.rs
  crates/jstz_utils/src/retry.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): implement storage sync
  crates/jstz_core/src/kv/storage_update.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/storage_sync.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): implement storage sync (#1264)
  crates/jstz_core/src/kv/storage_update.rs
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/storage_sync.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): override bash formatting to highlight variables
  docs/src/css/custom.css
  docs/src/theme/languages/prism-bash.js
  docs/src/theme/prism-include-languages.js
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): preserve original inbox message
  crates/jstz_node/src/sequencer/inbox/mod.rs
  crates/jstz_node/src/sequencer/mod.rs
  crates/jstz_node/src/sequencer/queue.rs
  crates/jstz_node/src/sequencer/worker.rs
  crates/jstz_node/src/services/operations.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(kernel): encode signed operations into inbox messages
  crates/jstz_kernel/src/inbox.rs
  crates/jstz_node/src/services/operations.rs
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_kernel/src/inbox.rs
  crates/jstz_node/src/services/operations.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(bench): do not init with start level
  crates/jstz_utils/src/inbox_builder.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(jstz_node): update docker file
  crates/jstz_node/Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): review comments addressed
  crates/jstz_kernel/src/inbox.rs
  crates/jstz_kernel/src/riscv_wpt_test_kernel.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/report_parser.rs
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(ci): separate into different jobs and remove nix where possible
  .github/workflows/test-nightly.yml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: rename wrapper
  crates/jstz_node/src/sequencer/inbox/mod.rs
  crates/jstz_node/src/sequencer/mod.rs
  crates/jstz_node/src/sequencer/queue.rs
  crates/jstz_node/src/sequencer/worker.rs
  crates/jstz_node/src/services/operations.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_node/src/services/operations.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_node/src/services/operations.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(bench): do not init inbox builder with start level (#1289)
  crates/jstz_utils/src/inbox_builder.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(release): 0.1.1-alpha.4
  Cargo.lock
  Cargo.toml
  crates/jstz_node/openapi.json
  crates/jstz_node/openapi_v1.json
  crates/jstz_oracle_node/src/relay.rs
  packages/cli/main/package.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(cli): allow jstzd config in sandbox start
  crates/jstz_cli/src/sandbox/jstzd.rs
  crates/jstz_cli/src/sandbox/mod.rs
  crates/jstzd/src/config.rs
  examples/get-tez/README.md
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic
