Repository jstz-dev/jstz, changes with the owners that CODEOWNERS names for each.
All owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

chore(release): 0.1.1-alpha.4
  Cargo.lock
  Cargo.toml
  crates/jstz_cli/src/sandbox/mod.rs
  crates/jstz_node/openapi.json
  crates/jstz_node/openapi_v1.json
  packages/cli/main/package.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(oracle): add docker file
  crates/jstz_oracle_node/Dockerfile
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: upgrade sdk and client, and fix resulting issues in examples
  Cargo.lock
  crates/jstz_sdk/Cargo.toml
  crates/jstz_sdk/src/lib.rs
  crates/jstzd/src/config.rs
  examples/get-tez/README.md
  examples/show-tez/package-lock.json
  examples/show-tez/package.json
  examples/show-tez/src/index.ts
  package-lock.json
  packages/sdk/index.ts
  packages/sdk/package.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

feat(jstz_node): add death signal to storage sync
  Cargo.lock
  Cargo.toml
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/storage_sync.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(jstzd): fix oracle config
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/oracle_node.rs
  crates/jstzd/tests/jstzd_test.rs
  crates/jstzd/tests/main_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): add death signal to storage sync
  Cargo.lock
  Cargo.toml
  crates/jstz_node/Cargo.toml
  crates/jstz_node/src/lib.rs
  crates/jstz_node/src/storage_sync.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(release): 0.1.1-alpha.4 (#1292)
  Cargo.lock
  Cargo.toml
  crates/jstz_cli/src/sandbox/mod.rs
  crates/jstz_node/openapi.json
  crates/jstz_node/openapi_v1.json
  crates/jstz_sdk/Cargo.toml
  crates/jstz_sdk/src/lib.rs
  crates/jstzd/src/config.rs
  examples/get-tez/README.md
  examples/show-tez/package-lock.json
  examples/show-tez/package.json
  examples/show-tez/src/index.ts
  package-lock.json
  packages/cli/main/package.json
  packages/sdk/index.ts
  packages/sdk/package.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter, @timothymcmackin, @NicNomadic

feat(jstzd): config for skipping jstz node
  crates/jstzd/src/config.rs
  crates/jstzd/src/lib.rs
  crates/jstzd/src/user_config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): move test kernel into its won crate
  Cargo.lock
  Cargo.toml
  Makefile
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/src/lib.rs
  crates/jstz_riscv_wpt_test_kernel/Cargo.toml
  crates/jstz_riscv_wpt_test_kernel/src/executable.rs
  crates/jstz_riscv_wpt_test_kernel/src/lib.rs
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstzd/src/user_config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstzd/src/config.rs
  crates/jstzd/src/user_config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): add death signal to storage sync
  crates/jstz_node/src/storage_sync.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstzd/src/user_config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): simplify parsing
  Cargo.lock
  crates/jstz_riscv_wpt_test_kernel/Cargo.toml
  crates/jstz_riscv_wpt_test_kernel/src/executable.rs
  crates/jstz_riscv_wpt_test_kernel/src/lib.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/mod.rs
  crates/jstz_runtime/tests/report_parser.rs
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstzd): skip jstz node on demand
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/tests/jstzd_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstzd): skip jstz node on demand
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/tests/jstzd_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): add death signal to storage sync (#1286)
  crates/jstz_node/src/storage_sync.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstz_cli/tests/fa_deploy_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(docs): bold sidebar headings to match docs.tezos.com
  docs/src/css/custom.css
Owners: @timothymcmackin, @NicNomadic, @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstzd): skip oracle node on demand
  crates/jstzd/src/config.rs
  crates/jstzd/src/task/jstzd.rs
  crates/jstzd/src/user_config.rs
  crates/jstzd/tests/jstzd_test.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(jstz_node): preserve original inbox message (#1288)
  crates/jstz_node/src/sequencer/inbox/mod.rs
  crates/jstz_node/src/sequencer/mod.rs
  crates/jstz_node/src/sequencer/queue.rs
  crates/jstz_node/src/sequencer/worker.rs
  crates/jstz_node/src/services/operations.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

chore(octez): upgrade octez version to v23.0
  crates/jstzd/Dockerfile
  crates/octez/resources/protocol_parameters/sandbox/PsQuebecnLByd3JwTiGadoG4nGWi3HYiLXUjkibeFV8dCFeVMUg
  crates/octez/resources/protocol_parameters/sandbox/PtSeouLouXkxhg39oWzjxDWaCydNfR3RxCUrNe4Q9Ro8BTehcbh
  crates/octez/src/async/baker.rs
  crates/octez/src/async/protocol.rs
  flake.lock
  flake.nix
  nix/patches/octez/0001-fix-octez-rust-deps-for-nix.patch
  nix/patches/octez/0002-allow-floats-in-wasm-rollup.patch
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(kernel): encode signed operations into inbox messages (#1281)
  crates/jstz_kernel/src/inbox.rs
  crates/jstz_node/src/services/operations.rs
  crates/jstz_node/tests/sequencer.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix: patch
  crates/jstzd/src/user_config.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): ricv test kernel setup
  Cargo.lock
  Cargo.toml
  Makefile
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/src/riscv_wpt_test_kernel.rs
  crates/jstz_runtime/Cargo.toml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

fix(wpt): fix clippy issues
  Cargo.lock
  crates/jstz_api/Cargo.toml
  crates/jstz_api/tests/wpt.rs
  crates/jstz_runtime/out2.txt
  crates/jstz_runtime/out2_original.txt
  crates/jstz_runtime/tests/wpt.rs
  crates/jstz_runtime/tests/wptreport.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): create flag for wpt testing in riscv
  crates/jstz_runtime/Cargo.toml
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/report_parser.rs
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): move message creation to wpt
  Cargo.lock
  Cargo.toml
  crates/jstz_kernel/src/inbox.rs
  crates/jstz_message_creator/Cargo.toml
  crates/jstz_message_creator/src/main.rs
  crates/jstz_runtime/Cargo.toml
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): move relevant wpt structs to separate place
  Cargo.lock
  crates/jstz_kernel/src/riscv_wpt_test_kernel.rs
  crates/jstz_runtime/Cargo.toml
  crates/jstz_runtime/src/lib.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/test_harness_api.js
  crates/jstz_runtime/tests/wpt.rs
  crates/jstz_wpt/Cargo.toml
  crates/jstz_wpt/src/report.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): update dependencies
  crates/jstz_api/tests/wpt.rs
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/src/lib.rs
  crates/jstz_kernel/src/riscv_wpt_test_kernel.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): wpt setup
  crates/jstz_kernel/src/inbox.rs
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): results
  crates/jstz_kernel/src/lib.rs
  crates/jstz_runtime/out2.txt
  crates/jstz_runtime/out2_original.txt
  crates/jstz_runtime/src/runtime.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): review comments addressed
  crates/jstz_kernel/src/inbox.rs
  crates/jstz_kernel/src/riscv_wpt_test_kernel.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/report_parser.rs
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(wpt_kernel): simplify
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/src/lib.rs
  crates/jstz_kernel/src/riscv_wpt_test_kernel.rs
  crates/jstz_runtime/Cargo.toml
  crates/jstz_runtime/src/lib.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/mod.rs
  crates/jstz_runtime/tests/report_parser.rs
  crates/jstz_runtime/tests/wpt.rs
  crates/jstz_wpt/Cargo.toml
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

refactor(wpt): simplify test pipeline
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(message_creator): simplify message creation
  Cargo.lock
  crates/jstz_kernel/src/riscv_wpt_test_kernel.rs
  crates/jstz_message_creator/Cargo.toml
  crates/jstz_message_creator/src/main.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): riscv testing
  Makefile
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/src/lib.rs
  crates/jstz_kernel/src/riscv_wpt_test_kernel.rs
  crates/jstz_runtime/tests/wpt.rs
  crates/jstz_runtime/tests/wptreport.json
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): message creator
  crates/jstz_message_creator/Cargo.toml
  crates/jstz_message_creator/src/main.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): move test kernel into its won crate
  Cargo.lock
  Cargo.toml
  Makefile
  crates/jstz_kernel/Cargo.toml
  crates/jstz_kernel/src/lib.rs
  crates/jstz_riscv_wpt_test_kernel/Cargo.toml
  crates/jstz_riscv_wpt_test_kernel/src/executable.rs
  crates/jstz_riscv_wpt_test_kernel/src/lib.rs
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

feat(wpt): simplify parsing
  Cargo.lock
  crates/jstz_riscv_wpt_test_kernel/Cargo.toml
  crates/jstz_riscv_wpt_test_kernel/src/executable.rs
  crates/jstz_riscv_wpt_test_kernel/src/lib.rs
  crates/jstz_runtime/src/wpt/mod.rs
  crates/jstz_runtime/tests/mod.rs
  crates/jstz_runtime/tests/report_parser.rs
  crates/jstz_runtime/tests/wpt.rs
Owners: @alanmarkoTrilitech, @huancheng-trili, @johnyob, @ryutamago, @zcabter

CODEOWNERS:

# Entire codebase
*           @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter

# Docs
/docs/      @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
/examples/  @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
README.md   @timothymcmackin @NicNomadic @alanmarkoTrilitech @huancheng-trili @johnyob @ryutamago @zcabter
